.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em;
	width: 50%;
	column-gap: 1em;
	background-color: white;
	border-bottom-left-radius: 10px;
}

.title-wrapper {
	flex: 1;
}

.title {
	margin: 0;
	font-size: 1.2rem;
}
